/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(136, 144, 133, 0.5); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 144, 133, 0.6); 
}

h1, h2, h3 {
  color: #505050;
}

.today {
  margin-top: 15px;
}

span.today-date {
  padding-left: 10px;
  color: #606060;
}

.form-control:focus {
  border: none;
}

.task-button, .task-button:focus, .btn-secondary:not(:disabled):not(.disabled):active {
  background-color: rgb(215, 214, 206);
  border-color: rgb(215, 214, 206);
  color: #383838;
}

.task-button:hover {
  background-color: rgb(136, 144, 133);
  border-color: rgb(136, 144, 133);
  color: #f4f4f4;
}

.todo-list {
  margin-top: 20px;
  text-align: left;
  height: 50vh;
  overflow-y: auto;
}

.todo-item {
  background-color: rgb(223, 214, 207, 0.3);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #383838;
}

.todo-item:hover {
  background-color: rgb(223, 214, 207, 0.5);
}

.icon {
  color: gray;
  font-size: 11px;
  margin-right: 10px;
}

.task-icon {
  color: #383838;
  font-weight: lighter;
  margin-right: 10px;
  font-size: 12px;
}

.tab-container {
  padding-top: 20px;
}

.nav-tabs {
  border-color: rgb(223, 214, 207);
  border-width: 0.9px;
  color: #383838;
}

.nav-tabs .nav-link.active {
  background-color: rgb(223, 214, 207, 0.9);
  border-color: rgba(255,255,255,0);
}

.nav-tabs .nav-link:hover {
  border-color: rgb(223, 214, 207);
  border-width: 0.5px;
}

span.emoji {
  opacity: 0.7;
}