body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(244, 243, 239);
  /* background-image: url('./assets/background2.png'); */
  background-image: url('./assets/test.jpg');
  background-size: cover;
}

/* .navbar {
  background-color: rgb(203, 155, 128);
}

.navbar-text {
  color: black;
} */

.today {
  margin-top: 20px;
}

.task-button {
  background-color: rgb(241, 241, 241);
  border-color: rgb(241, 241, 241);
  color: #383838;
}

h1, h2 {
  color: #383838;
}

