body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(244, 243, 239);
  /* background-image: url('./assets/background2.png'); */
  background-image: url('./assets/test.jpg');
  background-size: cover;
}

/* .navbar {
  background-color: rgb(203, 155, 128);
}

.navbar-text {
  color: black;
} */

.today {
  margin-top: 20px;
}

.task-button {
  background-color: rgb(241, 241, 241);
  border-color: rgb(241, 241, 241);
  color: #383838;
}

h1, h2 {
  color: #383838;
}

.todo-list {
  margin-top: 20px;
  text-align: left;

}

.todo-item {
  background-color: rgba(255,255,255,0.2);
  border-top: none;
  border-left: none;
  border-right: none;
}

.todo-item:hover {
  background-color: rgba(255,255,255,0.5);
}

.icon {
  color: gray;
  font-size: 11px;
  margin-right: 10px;
}

.task-icon {
  color: #383838;
  font-weight: lighter;
  margin-right: 10px;
  font-size: 12px;
}

.change-icon .task-icon + .task-icon,
.change-icon:hover .task-icon {
  display: none;
}
.change-icon:hover .task-icon + .task-icon {
  display: inline;
}

